body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: auto;
}

a {
  color: #00b7ff;
}

.drone-card {
  margin-bottom: 10px;
  border: 2px solid black;
  border-radius: 5px;
}

