<div class="container">
  <h2>Update the drone</h2>
  <form action="/drones/<%= foundDrone._id %>/edit" method="POST">
    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input
        type="text"
        class="form-control"
        id="name"
        name="name"
        value="<%= foundDrone.name %>"
      />
    </div>
    <div class="mb-3">
      <label for="propellers" class="form-label">Propellers</label>
      <input
        type="number"
        class="form-control"
        id="propellers"
        name="propellers"
        value="<%= foundDrone.propellers %>"
      />
    </div>
    <div class="mb-3">
      <label for="maxSpeed" class="form-label">Max Speed</label>
      <input
        type="number"
        class="form-control"
        id="maxSpeed"
        name="maxSpeed"
        value="<%= foundDrone.maxSpeed %>"
      />
    </div>
    <button type="submit" class="btn btn-primary">Add Changes!</button>
  </form>
</div>
